In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
csv_file = "listings-2.csv"
airbnb_df = pd.read_csv(csv_file)
airbnb_df.head()

C:\Users\Jon\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (61,62,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20190307044035,2019-03-07,Beautiful home in amazing area!,"This large, family home is located in one of T...",Visit Toronto with this fabulous furnished hom...,"This large, family home is located in one of T...",none,The apartment is located in the Ossington stri...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.16
1,8077,https://www.airbnb.com/rooms/8077,20190307044035,2019-03-07,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,My husband and I are both artists. I give pain...,Guest room in a luxury condo with access to al...,none,NaN,...,t,f,strict_14_with_grace_period,f,t,2,1,1,0,1.45
2,12604,https://www.airbnb.com/rooms/12604,20190307044035,2019-03-07,Seaton Village Parlour Bedroom,Comfortable sofa bed in airy main floor parlour.,Family of 4 (2 kids) plus a friendly dog open...,Comfortable sofa bed in airy main floor parlou...,none,NaN,...,f,f,moderate,f,f,1,0,1,0,NaN
3,23691,https://www.airbnb.com/rooms/23691,20190307044035,2019-03-07,Queen Bedroom close to downtown,NaN,Nestled in the middle of a quiet residential n...,Nestled in the middle of a quiet residential n...,none,NaN,...,t,f,strict_14_with_grace_period,f,f,2,0,2,0,1.94
4,26654,https://www.airbnb.com/rooms/26654,20190307044035,2019-03-07,"World Class downtown@ CN Tower! Jays, TIFF, ACC","CN Tower, TIFF Bell Lightbox, Metro Convention...",Welcome to 5***** Living - Bohemian decor~ in ...,"CN Tower, TIFF Bell Lightbox, Metro Convention...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,7,7,0,0,0.36

In [7]:
airbnb_data_df = airbnb_df[['zipcode', 'property_type', 'room_type','price', 'latitude', 'longitude']].copy()

In [8]:
airbnb_data_df = airbnb_data_df.rename(columns={'zipcode': 'postal_code'})
airbnb_data_df.head()

  postal_code property_type        room_type    price  latitude  longitude
0         M6J         House  Entire home/apt  $469.00  43.64617  -79.42451
1         M5J     Apartment     Private room  $100.00  43.64105  -79.37628
2         M6G         House     Private room   $67.00  43.66724  -79.41598
3     M6E 2P3         House     Private room   $70.00  43.69602  -79.45468
4     M5V 3P5   Condominium  Entire home/apt  $200.00  43.64530  -79.38940

In [9]:
airbnb_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20036 entries, 0 to 20035
Data columns (total 6 columns):
postal_code      19651 non-null object
property_type    20036 non-null object
room_type        20036 non-null object
price            20036 non-null object
latitude         20036 non-null float64
longitude        20036 non-null float64
dtypes: float64(2), object(4)
memory usage: 939.3+ KB

In [10]:
#airbnb_data_df.describe()

In [11]:
#airbnb_data_df.dtypes

In [13]:
#airbnb_data_df.postal_code.unique()

In [14]:
airbnb_clean_df = airbnb_data_df.loc[airbnb_data_df["postal_code"] .str.len() == 7, [
    "property_type", "room_type", "price","postal_code", 'latitude', 'longitude']]
airbnb_clean_df.head()

  property_type        room_type    price postal_code  latitude  longitude
3         House     Private room   $70.00     M6E 2P3  43.69602  -79.45468
4   Condominium  Entire home/apt  $200.00     M5V 3P5  43.64530  -79.38940
5     Apartment  Entire home/apt   $54.00     M4L 2P8  43.66890  -79.32592
6     Apartment  Entire home/apt   $80.00     M4S 2M5  43.70410  -79.39026
7     Apartment  Entire home/apt  $134.00     M5J 2V3  43.64151  -79.37643

In [15]:
airbnb_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18010 entries, 3 to 20035
Data columns (total 6 columns):
property_type    18010 non-null object
room_type        18010 non-null object
price            18010 non-null object
postal_code      18010 non-null object
latitude         18010 non-null float64
longitude        18010 non-null float64
dtypes: float64(2), object(4)
memory usage: 984.9+ KB

In [16]:
airbnb_transformed= airbnb_clean_df.copy()
airbnb_transformed.drop_duplicates("postal_code", inplace=True)
airbnb_transformed.set_index("postal_code", inplace=True)

airbnb_transformed.head()

            property_type        room_type    price  latitude  longitude
postal_code
M6E 2P3             House     Private room   $70.00  43.69602  -79.45468
M5V 3P5       Condominium  Entire home/apt  $200.00  43.64530  -79.38940
M4L 2P8         Apartment  Entire home/apt   $54.00  43.66890  -79.32592
M4S 2M5         Apartment  Entire home/apt   $80.00  43.70410  -79.39026
M5J 2V3         Apartment  Entire home/apt  $134.00  43.64151  -79.37643

In [17]:
airbnb_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6501 entries, M6E 2P3 to M4V 2B7
Data columns (total 5 columns):
property_type    6501 non-null object
room_type        6501 non-null object
price            6501 non-null object
latitude         6501 non-null float64
longitude        6501 non-null float64
dtypes: float64(2), object(3)
memory usage: 304.7+ KB

In [18]:
airbnb_transformed.to_excel("airbnb_list.xlsx", index=True)