#### To run this, install MySQLdb.

In [8]:
!pip install MySQLdb

Collecting MySQLdb
  Could not find a version that satisfies the requirement MySQLdb (from versions: )
No matching distribution found for MySQLdb

In [15]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [ ]:
### Extract CSVs into DataFrames

In [16]:
csv_file = "Data/airbnb_table.csv"
Listing_abnb_df = pd.read_csv(csv_file)
Listing_abnb_df.head()

    fsa postal_code property_type        room_type  price source_loaded
0  M6E      M6E 2P3         House     Private room   70.0        airbnb
1  M5V      M5V 3P5   Condominium  Entire home/apt  200.0        airbnb
2  M4L      M4L 2P8     Apartment  Entire home/apt   54.0        airbnb
3  M4S      M4S 2M5     Apartment  Entire home/apt   80.0        airbnb
4  M5J      M5J 2V3     Apartment  Entire home/apt  134.0        airbnb

In [17]:
csv_file = "Data/Hotel_list.csv"
listing_hotels_df = pd.read_csv(csv_file)
listing_hotels_df.head()

    FSA postal_code  price source_loaded
0   M5T      M5T2V4  119.0    Hotels.com
1   M5T      M5T2S3  139.0    Hotels.com
2   M5T     M5T 1H5   59.0    Hotels.com
3   M6J     M6J 2G4  134.0    Hotels.com
4   M5T      M5T1E8   69.0    Hotels.com

### Connect to local database and load csv converted DataFrame into database

In [18]:
engine = create_engine('mysql://root:#Caracas10@127.0.0.1:3306/Hotels_db')
Listing_abnb_df.to_sql(name='Listing_abnb', con=engine, if_exists = 'append', index=False)

In [20]:
engine = create_engine('mysql://root:#Caracas10@127.0.0.1:3306/Hotels_db')
listing_hotels_df.to_sql(name='listing_hotels', con=engine, if_exists = 'append', index=False)